[MASTER]
disable=useless-object-inheritance,bad-mcs-classmethod-argument,no-value-for-parameter,protected-access,too-few-public-methods,bad-continuation,invalid-name,no-member,locally-disabled,locally-enabled
reports=no
known-standard-library=typing

[SIMILARITIES]
min-similarity-lines=10
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
